body{
    display: flex;
    flex: 1 1;
    min-height: 100vh;
}

.content{
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(173, 173, 245);
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#textToChange {
    border-radius: 10px;
    height: 40px;
    min-width: 60vw;
    border-color: blueviolet;
    text-align: center;
}

#copiar {
    border-radius: 10px;
    height: 40px;
    min-width: 40vw;
    background-color:rgb(204, 204, 243);
    border-color: blueviolet;
}